* {
  box-sizing: border-box;
  font-family: "Lato", Verdana, Helvetica, sans-serif;
}

.container {
  max-width: 50rem;
  margin: 0 auto;
}

header {
  border-bottom: 1px solid #e3e3e3;
  margin-bottom: 2em;
  padding: 1em;
  background: #f9f9f9;
  width: 100%;
}

header .pure-menu-heading {
  font-weight: 600;
}

footer {
  border-top: 1px solid black;
  padding-top: 0.5em;
  margin-top: 1em !important;
}

.profile-pic {
  float: right;
  margin: 25px 0 25px 25px;
  border-radius: 50%;
  width: 200px;
  max-width: 100%;
}

@media only screen and (max-width: 50rem) {
  .container {
    margin: 0.75rem;
  }
  .profile-pic {
    display: block;
    float: none;
    margin: 0 auto;
  }
}

.float-right {
  float: right;
}

.red {
  color: #df0010;
}

a {
  color: #1772d0;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #f09228;
  text-decoration: none;
}

.row {
  border-bottom: 1px solid #e1e1e1;
  padding-top: 0.5em;
  width: 100%;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.row .img-container {
  vertical-align: middle;
}

.row img {
  margin: 5%;
}

.pure-g .row:last-child {
  border-bottom: none;
}

.socialmedia {
  padding-right: 1em;
}
.socialmedia:last-child {
  padding-right: 0;
}
.socialmedia img {
  height: 1em;
}

/* Responsive navbar */

/* Hide Hamburger */
.pure-menu label,
.pure-menu input {
  display: none;
}

@media screen and (max-width: 50rem) {
  /* Show hamburger icon */
  .pure-menu label {
    display: block;
    float: right;
    background: #e1e1e1;
    padding: 0.5em;
    user-select: none;
    cursor: pointer;
  }

  /* Make menu items vertical */
  .pure-menu-horizontal .pure-menu-list .pure-menu-item {
    display: block;
    border-top: 1px solid #e1e1e1;
  }

  /* Toggle Show/Hide Menu */
  .pure-menu-horizontal .pure-menu-list {
    display: none;
  }
  .pure-menu-horizontal input:checked ~ .pure-menu-list {
    display: block;
  }
}
