/* Simple CSS theming */
:root {
    --accent: #0d47b1;
}
@media (prefers-color-scheme: dark) {
    :root {
        --accent: #ffb300;
    }
}

/* Simple CSS overrides */
body {
    grid-template-columns: 1fr min(60rem, 90%) 1fr;
}
body > header {
    padding-bottom: 0.25rem;
}
body > footer {
    margin-top: 2.5rem;
    padding: 1rem 0.5rem 1.5rem;
}

/* Default overrides */
:not(li) > ul {
    margin: 0.1rem 0.1rem;
    margin-bottom: 1rem;
    padding: 0rem 1.25rem;
}

/* Misc Utils */
.float-right {
    float: right;
}
.reset-float {
    clear: both;
}
.accented {
    color: var(--accent);
}

/* Title row */
.title-row {
    width: min(50%, 38rem);
    display: inline-grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    margin-top: 1rem;
}
.title-row > * {
    padding: 0.5rem;
    margin: 0;
}
.title-row > :first-child {
    text-align: right;
    line-height: 2.5rem;
    padding-right: 0.75rem;
    border-right: 1px solid var(--accent);
}
.title-row a {
    text-decoration: none;
}
.title-row > :last-child {
    text-align: left;
    padding-left: 0.75rem;
}

/* Homepage */
.profile-pic {
    float: right;
    margin: 25px 0 25px 25px;
    max-width: 100%;
}
.profile-pic > * {
    border-radius: 50%;
}

/* Rows in pages */
.row {
    border-bottom: 1px dotted var(--border);
    padding-top: 1em;
    width: 100%;
}
.row:last-child {
    border-bottom: none;
    padding-bottom: 0;
}
.row.split {
    display: grid;
    grid-template-columns: 20% 80%;
}

/* Social media icons */
.socialmedia {
    padding-right: 1em;
    text-decoration: none;
}
.socialmedia:last-child {
    padding-right: 0;
}
.socialmedia img {
    height: 1.15rem;
}

/* Responsive overrides */
@media only screen and (max-width: 60rem) {
    .profile-pic {
        display: block;
        float: none;
        margin: 0 auto;
        text-align: center;
    }

    .title-row {
        width: min(95%, 38rem);
        grid-template-columns: 30% 70%;
    }
    .title-row > * {
        padding: 0.25rem;
    }
}
